GAME_ID=740
GAME_NAME=csgo
GAME_PORT=27015
# This command is execute inside the container
# srcds_run -game $GAME_NAME -usercon -console $GAME_PARAMS +port $GAME_PORT +sv_lan 0
GAME_PARAMS=+game_type 1 +game_mode 2 +mapgroup mg_allclassic +map de_dust +sv_setsteamaccount ENTER_SRCDS_TOKEN -net_port_try 1
UID=1000
GID=1000
HOST_STEAMCMD_FOLDER=/data/gameservers/csgo/steamcmd
HOST_GAME_SERVER_FILES=/data/gameservers/csgo/serverfiles
SERVER_CFG=/data/gameservers/configs/csgo/default.cfg
GAMESERVER_IP=192.168.178.22